.cell {
  & .checkbox input {
    width: 20px;
    height: 20px;

    &:hover {
      cursor: pointer;
    }
  };

  & .info input {
    border: 1px solid rgba(128, 128, 128, 0.402);
    border-radius: 5px;
    padding: 5px;

    font-size: 16px;
  };
}